@import "../../utils/styles/all";

#LandingPage {
  .standard-text {
    @include body-text;
    @include raleway-bold;

    text-transform: uppercase;
    color: #2d7d7d;
  }
  .couple-name {
    @include italiano;

    font-size: 62px;
    line-height: 104px;
    color: #eb8ea0;
    margin-bottom: -8px;
    margin-top: -8px;

    @media screen and (min-width: $tablet) {
      margin-top: 8px;
      margin-bottom: 0;
      font-size: 105px;
      line-height: 104px;
    }
  }
  .wedding-date {
    @include italiano;

    font-size:$typography-size-step-up-4;
    line-height: $typography-lineHeight-step-up-3;
    color: #eb8ea0;
    margin-top: 16px;
    margin-bottom: 16px;

    @media screen and (min-width: $tablet) {
      margin-top: 16px;
      font-size: 62px;
      line-height: 62px;
      margin-bottom: 24px;
    }
  }
  .divider {
    border-top:2px dashed #ffebd8;
    margin-bottom: 24px;
  }
  .rsvp-spacer {
    height: 24px;

    @media screen and (min-width: $tablet) {
      height: 32px;
    }
  }
}