// BULMA
@import "bulma/sass/utilities/_all";
@import "bulma/sass/base/_all";
@import "bulma/sass/grid/_all";
@import "bulma/sass/layout/_all";
@import "bulma/sass/elements/container";
@import "bulma/sass/components/level";
@import "bulma/sass/components/navbar";

// responsive values
$tablet-width: $tablet;
$desktop-width: $desktop;
$widescreen-width: $widescreen;


// Dala Base Styles
@import "./all";

.italianno {
  font-family: 'Italianno', cursive;
  font-weight: normal;
  font-style: normal;
}
.raleway {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-style: normal;
}
.raleway-medium {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-style: normal;
}
.raleway-bold {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-style: normal;
}

body {
  @include body-text;

  font-variant-ligatures: common-ligatures;
  -moz-font-feature-settings: "liga", "clig";
  -webkit-font-feature-settings: "liga", "clig";
  font-feature-settings: "liga", "clig";
}

.mainBG {
  z-index: 0;
  background-repeat: no-repeat;
  background-position: center center;

  -webkit-background-size: cover;
  background-size: cover;
}
.mainBG-overlay {
  @include position($position: absolute, $cover: true);
  z-index: 1;
  opacity: 0.25;
}
.main-content-wrapper {
  background: white;
  padding: 32px 24px 24px 24px;

  -webkit-box-shadow: $layout-elevation-2;
  -moz-box-shadow: $layout-elevation-2;
  box-shadow: $layout-elevation-2;

  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}

.call-to-action {
  @include input;
  @include raleway-bold;
  @include transition($prop: background, $time: 0.2s);

  line-height: 48px;
  background: #d84b5b;
  color: #ffebd8;
  border: none;
  outline: none;
  padding-left: 16px;
  padding-right: 16px;
  cursor: pointer;
  margin-bottom: 8px;

  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}

.call-to-action:hover {
  background: #a02d3c;
}

.call-to-action:active {
  background: #861827;
}

.long-cta {
  width: 100%;
  text-align: left;

  .fas {
    margin: 0 4px 0 0;
  }
}

.cta-link {
  display: block;
  line-height: 40px;
  font-size: $typography-size-base;

  .fas {
    margin: 0 8px 0 3px;
  }
}

.cta-link:hover {
  color: #ffebd8;
}

.call-to-action-hollow {
  @include raleway-bold;
  @include transition($prop: background, $time: 0.2s);

  line-height: 40px;
  border:2px solid #b3d8d8;
  color: #2d7d7d;
  outline: none;
  padding-left: 16px;
  padding-right: 16px;
  cursor: pointer;
  display: block;
  margin-bottom: 8px;

  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;

  .fas {
    margin: 0 8px 0 3px;
  }
  .airbnb-icon {
    margin-right: 7px;
  }
}
.call-to-action-hollow:hover {
  background: rgba(#2d7d7d, 0.1);
  color: #2d7d7d;
}

.full-width-input {
  width: 100% !important;
}

.step-header {
  @include italiano;

  font-size: $typography-size-step-up-3;
  color: #eb8ea0;
}

.step-name {
  @include body-text;
  @include raleway-bold;

  text-transform: uppercase;
  color: #b3d8d8;
}
.step-name.active {
  color: #2d7d7d;
}
.add-dash {
  position: relative;
}
.add-dash:before {
  position: absolute;
  content: '';
  display: block;
  height: 1px;
  background: #b3d8d8;
  top: 24px;
  right: 80%;
  width: 40%;
}
.add-dash:after {
  position: absolute;
  content: '';
  display: block;
  height: 1px;
  background: #b3d8d8;
  top: 24px;
  left: 80%;
  width: 40%;
}

.detail-drawer-button {
  @include raleway-bold;
  @include position($position: fixed, $top: 50%);
  @include transition($prop: all, $time: 0.2s);

  color: #ffebd8;
  text-transform: uppercase;
  padding: 0 16px;
  line-height: $typography-lineHeight-step-up-2;
  background: #d84b5b;
  cursor: pointer;
  z-index: 1000;

  border-top-left-radius: 8px;
  border-top-right-radius: 8px;

  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
.detail-drawer-button:hover {
  background: #a02d3c;
}
.detail-drawer-button-mobile {
  @include raleway-bold;
  @include position($position: fixed, $left: 50%);
  @include transition($prop: all, $time: 0.2s);

  color: #ffebd8;
  text-transform: uppercase;
  text-align: center;
  width: 200px;
  line-height: $typography-lineHeight-step-up-2;
  background: #d84b5b;
  cursor: pointer;
  z-index: 1000;

  border-top-left-radius: 8px;
  border-top-right-radius: 8px;

  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}
.detail-drawer-button-mobile:hover {
  background: #a02d3c;
}
.map-wrapper {
  .mapouter{
    text-align:right;
    height:224px;
    width:100%;
  }
  .gmap_canvas {
    overflow:hidden;
    background:none!important;
    height:224px;
    width:100%;
  }
}

.transparent {
  opacity: 0;
}
.opaque {
  opacity: 1;
}

.selectBox {
  select {
    @include raleway-medium;
    @include input;

    color: #d0e8e8;
    background: #2d7d7d;
    height: 52px;
    border: none;
    outline: none;
    width: 100%;
    font-weight: bold;

    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
  }
  .select-label {
    @include raleway-bold;
    @include inputLabel;

    display: inline-block;
    padding: 0 1em;
    color: #2d7d7d;
    margin-top: 8px;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}